.ios .toolbar a.icon-only {
  min-height: var(--f7-toolbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 44px;
}
.ios .tabbar-labels a.tab-link,
.ios .tabbar-labels a.link {
  padding-top: 4px;
  padding-bottom: 4px;
}
.ios .tabbar-labels a.tab-link i + span,
.ios .tabbar-labels a.link i + span {
  margin: 0;
}
@media (min-width: 768px) {
  .ios .tabbar .toolbar-inner,
  .ios .tabbar-labels .toolbar-inner {
    justify-content: center;
  }
  .ios .tabbar a.tab-link,
  .ios .tabbar-labels a.tab-link,
  .ios .tabbar a.link,
  .ios .tabbar-labels a.link {
    width: auto;
    min-width: 105px;
  }
}
.ios .tabbar-scrollable .toolbar-inner {
  justify-content: flex-start;
}
.ios .tabbar-scrollable a.tab-link,
.ios .tabbar-scrollable a.link {
  padding: 0 8px;
}
